

a.summerLogo
{
    background: url("../GEODES_fichiers_photos/summer.png") center right no-repeat;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: .1%;
    margin-left: .1%;
    text-decoration: none;
}

a.automneLogo
{
    background: url("../GEODES_fichiers_photos/automne.png") center right no-repeat;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: .1%;
    margin-left: .1%;
    text-decoration: none;
}

a.winterLogo
{
    background: url("../GEODES_fichiers_photos/winter.png") center right no-repeat;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: .1%;
    margin-left: .1%;
    text-decoration: none;
}

a.pdfLink
{
    background: url("../GEODES_fichiers_photos/pdf.png") center right no-repeat;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: .1%;
    margin-left: .1%;
    text-decoration: none;
}

a.slideLink
{
    background: url("../GEODES_fichiers_photos/slide.png") center right no-repeat;
    padding-right: 1%;   
    padding-left: 1%;  
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: .1%;
    margin-left: .1%;
    text-decoration: none;
}

a.bibtexLink
{
    background: url("../GEODES_fichiers_photos/bibtex_a.png") center right no-repeat;
    padding-right: 4%;   
    padding-left: .5%;  /* 1% should be the best for many successive icons */
    padding-top: 1%;
    padding-bottom: 1%;
    margin-right: .1%;
    margin-left: .1%;
    text-decoration: none;
}